name: trigger beqcatalogue
on:
  push:
    branches:
      - 'master'
      - 'main'
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: octokit/request-action@v2.x
        with:
          route: POST /repos/{owner}/{repo}/dispatches
          owner: 3ll3d00d
          repo: beqcatalogue
          event_type: trigger
        env:
          GITHUB_TOKEN: ${{ secrets.TRIGGER_BEQCATALOGUE }}	
